extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}

                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing Nulla eget iaculis dolor. Ut in pulvinar justo, non maximus libero. Ut neque ipsum, scelerisque eu erat eget, consectetur iaculis velit. Donec faucibus quis quam venenatis ultricies. Duis rhoncus metus sed ornare dapibus. Morbi elementum odio massa, id egestas velit venenatis id. Mauris fermentum, dui id suscipit aliquet, erat quam porttitor sem, sed facilisis elit leo ut sapien. Mauris egestas consequat dictum. Ut commodo sem eu tellus consequat tempus.elit. Maecenas molestie consectetur enim sit amet maximus. 

                p consectetur ligula ex, id porta purus imperdiet a. Sed tempor pharetra quam, ut suscipit turpis commodo sollicitudin. Proin fermentum interdum justo ut dictum. Mauris dignissim, mauris ac accumsan dignissim, lacus ligula pellentesque est, a sagittis mauris eros consequat velit. Curabitur id mi dictum, pharetra elit ut, pharetra diam. Vivamus neque dui, suscipit ut lobortis id, pellentesque eget felis. 

                p ultricies urna ipsum, sit amet bibendum arcu hendrerit id. In enim quam, eleifend vitae eros at, sagittis ullamcorper magna. Vestibulum blandit blandit lectus non facilisis. Proin vulputate ac mauris nec sodales. Vivamus varius non enim nec molestie. Vivamus ultricies eget augue sed vulputate. Nulla sagittis lobortis sem. Donec vel tortor diam.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ultricies urna ipsum, sit amet bibendum arcu hendrerit id. In enim quam, eleifend vitae eros at, sagittis ullamcorper magna. Vestibulum blandit blandit lectus non facilisis. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono de destinos" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Ultricies urna ipsum, sit amet bibendum arcu hendrerit id. In enim quam, eleifend vitae eros at, sagittis ullamcorper magna. Vestibulum blandit blandit lectus non facilisis. 
                    
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono de precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Ultricies urna ipsum, sit amet bibendum arcu hendrerit id. In enim quam, eleifend vitae eros at, sagittis ullamcorper magna. Vestibulum blandit blandit lectus non facilisis. 
